.place__title {
  font-weight: 900;
  grid-area: place__title;
}


@media (min-width: 1024px) {
  .place__title {
    font-size: 72px;
    line-height: 1.06;
    margin: 0 0 48px;
    max-width: 80%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .place__title {
    font-size: 42px;
    line-height: 1.1;
    margin: 0 0 48px;
    max-width: 50%;
  }

  .place:nth-child(4) .place__title {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .place__title {
    font-size: 32px;
    line-height: 1.09;
    margin: 0 16px 32px;
  }
}