.place {
  display: grid;
}


@media (min-width: 768px) {
  .place {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "place__title place__website"
      "place__image .";
    column-gap: 2.5em;
    row-gap: 3em;
  }
}

@media (max-width: 767px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-areas:
      "place__title"
      "place__website"
      "place__image"
      ".";
    row-gap: 2em;
  }
}