.place__url {
  color: #AAA;
}


@media (min-width: 1024px) {
  .place__url {
    font-size: 12px;
    line-height: 1.7;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0;
  }
}

@media (max-width: 1023px) {
  .place__url {
    font-size: 12px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0;
  }
}